<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Vernnit">
    <title>MyProfile</title>
    <!-- font icons -->
    <link rel="stylesheet" href="static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap +  main styles -->
    <link rel="stylesheet" href="static/assets/css/meyawo.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="#">MyProfile</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="#home">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">About</a>
                </li>
                <li class="item">
                    <a class="link" href="#resume">Resume</a>
                </li>
                <li class="item">
                    <a class="link" href="#works">Works</a>
                </li>
                <li class="item">
                    <a class="link" href="#blog">Blog</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contact</a>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">I am Vernnit</span>
            </h1>
            <p class="header-subtitle">Aspiring Data Scientist</p>

            <a class="btn btn-primary" href="#works">Visit My Works</a>
        </div>
    </header><!-- end of page header -->

    <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="static/assets/imgs/picture.png" class="about-img">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Who Am I ?</p>
                    <h2 class="section-title mb-3">About Me</h2>
                    <p>
                        <b>I am yet another human from Type 0.7 Civilization pursuing my Bachelors in Engineering
                            Physics
                            from National Institute of Technology Hamirpur, Himachal Pradesh, India. I am keenly
                            interested
                            in the field of Data Analytics, Machine Learning & Artificial Intelligence, Computer Science
                            and
                            multiple sub branches of physics like Astrophysics, Particle Physics and Quantum
                            Computing.</b>
                    </p>
                    <p><b>
                            My Competitiveness and keen interest for learning new things with strong determination,
                            along
                            with my polite nature are some of my key qualities.</b>
                    </p>
                    <p><b>
                            I believe one should always be lively in all phases of life. Life is all about facing new
                            challenges everyday. Main purpose is to face them with courage yet enjoying life to the
                            fullest.
                        </b></p>
                    <div class="button-container">
                        <a href="static/assets/MYCV.pdf" download>
                            <button class="btn-rounded btn btn-outline-primary mt-4 ">Download CV</button>
                        </a>
                        <a href="https://github.com/Vernnit">
                            <button class="btn-rounded btn btn-outline-primary float right mt-4 ">Github</button></a>
                        <a href="https://www.linkedin.com/in/vernnit-verma-0a64b1230">
                            <button class="btn-rounded btn btn-outline-primary mt-4 ">Linkedin</button></a>
                    </div>
                </div>
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->
    <br><br>

    <!--Resume Section-->
    <section class="section" id="resume">
        <page size="A4">
            <div class="container text-center">
                <div class="resume">
                    <p class="section-subtitle">Curriculum Vitae ?</p>
                    <h2 class="section-title mb-3">My Resume</h2>
                </div>
                <div>
                    <br><br><br>
                    <hr style="height:0.5px;border:none;color:#454545;background-color:#333;">
                    <h1>VERNNIT VERMA</h1>
                    <p><b>vernnit@gmail.com &nbsp; &nbsp; &nbsp; 7876943319</b></p>
                    <p><b>Village Ghumana , Tehesil Kumarsain, District Shimla, Himachal Pradesh</b></p>
                    <hr>
                </div>
            </div>
            <div>
                <h4>OBJECTIVE</h4>
                <p><b>
                        Enthusiastic and dedicated beginner seeking an internship. Eager to embark on a journey of
                        practical exploration, I find joy in solving realistic problems , coding , performing
                        experiments and
                        observing results firsthand. Although new to the field, my strong work ethic and passion for
                        hands on learning drive my commitment. Excited about the opportunity to apply theoretical
                        knowledge to
                        real-world scenarios, I am ready to contribute earnestly and learn extensively during my
                        internship.</b></p>
                <hr>

                <br>
                <h4>EDUCATION</h4>
                <h6 style="color:black;">National Institute of Technology Hamirpur <span class="right">2025</span>
                </h6>
                <p><b>B.Tech Engineering Physics (Physics and Photonics) (ongoing)</b></p>

                <h6 style="color:black;">D.A.V. SJVN Public School , Duttnagar , Himachal Pradesh
                    <span class="right">2020</span>
                </h6>
                <p><b>Secondary Education (CBSE Board): 87.4%</b></p>

                <h6 style="color:black;">D.A.V. Public School , Kumarsain, Himachal Pradesh
                    <span class="right">2018</span>
                </h6>
                <p><b>High School Education (CBSE Board): 90.6%</b></p>
                <hr>
                <br>
                <h4><span class="left">KEY COMPETENCIES</span> <span class="right">SKILLS AND TOOLS</span></h4><br>
                <ul><span class="left">
                        <li>Data-driven strategic planning</li>
                        <li>Proficient in research methodology</li>
                        <li>Effective teaching and mentoring abilities</li>
                        <li>Strong report writing and presentation skills</li>
                        <li>Advanced critical thinking capabilities</li>
                        <li>Exceptional communication proficiency</li>
                        <li>Proactive and self-motivated mindset</li>
                        <li>UI/UX Design</li>
                    </span><span class="right">
                        <li>Python (Advanced proficiency)</li>
                        <li>Data Structures and Algorithms</li>
                        <li>Matlab (basic)</li>
                        <li>Jupyter Notebooks</li>
                        <li>Git and Github</li>
                        <li>Figma (intermediate)</li>
                        <li>Scientific writing</li>
                        <li>Project management skills</li>
                    </span></ul>
                <br><br><br><br><br><br><br><br><br>
                <hr>
                <h4>COURSEWORK</h4>
                <ul>
                    <li>Data Structures and Algorithms</li>
                    <li>Semiconductors</li>
                    <li>Laser and Photonics</li>
                    <li>Quantum Mechanics</li>
                    <li>Classical Mechanics</li>
                    <li>Nuclear Science</li>
                    <li>Atomic and Molecular Physics</li>
                    <li>Spectroscopy</li>
                    <li>Plasma Physics</li>
                    <li>Nanotechnology</li>
                </ul>
                <br>
                <hr>
                <h4>EXTRA CURRICULAR ACTIVITIES</h4>
                <ul>
                    <li><b>Finance Team Member, Hill'ffair</b><br>
                        National Institute of Technology Hamirpur<br><br>
                        Contributed to the finance team for Hill'ffair, ensuring efficient financial operations and
                        budget
                        management for the annual cultural and technical festival.</li><br>
                    <li><b>Discipline Club member , Hill’ffair</b><br>
                        National Institute of Technology Hamirpur<br><br>
                        Ensured Proper conduct of various events with in the campus in a disciplined manner , ensuring
                        proper obeyance of rules and regulations of our college.</li>

                </ul><br>
                <hr>
                <h4>INTERESTS AND HOBBIES</h4>
                <ul>
                    <li>Volunteerism for Environmental Conservation Projects: Engaging in initiatives to</li>
                    preserve and protect the environment.
                    <li>Photography: Capturing moments and scenes that inspire, from nature to city scapes.</li>
                    <li>Trekking and Hiking: Enjoying outdoor adventures and exploring new trails and peaks.</li>
                    <li>Music Production : Enjoy producing music and writing songs.</li>
                    <li>Cooking: Experimenting with flavors and cuisines to create delicious meals.</li>
                    <li>Gardening: Nurturing plants and creating vibrant green spaces for relaxation.</li>
                    <li>Drawing and sketching: I also enjoy my free time drawing and sketching a little bit.</li>

                </ul>
                <br>
                <hr>
                <br>
                <hr style="height:1px;border:none;color:#333;background-color:#333;">

            </div>
        </page>
    </section>
    <!--End of Resume Section-->

    <!-- works section -->
    <section class="section" id="works">
        <div class="container text-center">
            <p class="section-subtitle">What I Do ?</p>
            <h6 class="section-title mb-6">My Works</h6>
            <!-- row -->

            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <a href="https://github.com/Vernnit/Password_Checker"> <img
                                    src="static/assets/imgs/pencil-case.svg" class="icon"></a>
                            <h6 class="title"><a href="https://github.com/Vernnit/Password_Checker">Password Checker
                            </h6></a>
                            <p class="subtitle"><a href="https://github.com/Vernnit/Password_Checker">This is a Python
                                    based password Checker which checks for any breaches in your password.</a></p>
                        </div>
                    </div>
                </div>




                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <a href="https://github.com/Vernnit/JPEG-to-PNG-Converter">
                                <img src="static/assets/imgs/responsive.svg"
                                    alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                    class="icon">
                                <h6 class="title"><a href="https://github.com/Vernnit/JPEG-to-PNG-Converter">Image
                                        Converter</a></h6>
                                <p class="subtitle"><a href="https://github.com/Vernnit/JPEG-to-PNG-Converter">This is a
                                        basic JPEG to PNG Image converter based on python.</a></p>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <a href="https://github.com/Vernnit/Python-E-mail-Sender">
                                <img src="static/assets/imgs/toolbox.svg"
                                    alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                    class="icon">
                                <h6 class="title">Email Sender</h6>
                                <p class="subtitle">This is a basic email sender created using python.</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/assets/imgs/analytics.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">MyPortfolio Website</h6>
                            <p class="subtitle">This a basic website created using flask.</p>
                        </div>
                    </div>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->

    <!-- section -->
    <section class="section-sm bg-primary">
        <!-- container -->
        <div class="container text-center text-sm-left">
            <!-- row -->
            <div class="row align-items-center">
                <div class="col-sm offset-md-1 mb-4 mb-md-0">
                    <h6 class="title text-light">Interested to have a talk?</h6>
                    <p class="m-0 text-light">Please feel free to contact me.</p>
                </div>
                <div class="col-sm offset-sm-2 offset-md-3">
                    <a class="btn btn-lg my-font btn-light rounded" href="mailto:vernnit@gmail.com">Email Me</a>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of section -->


    <!-- blog section -->
    <section class="section" id="blog">
        <!-- container -->
        <div class="container text-center">
            <p class="section-subtitle">Recent Posts?</p>
            <h6 class="section-title mb-6">Blog</h6>
            <!-- blog-wrapper -->
            <div class="blog-card">
                <div class="blog-card-header">
                    <img src="static/assets/imgs/img-1.jpg" class="blog-card-img"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="blog-card-body">
                    <h5 class="blog-card-title">Yet to Post this blog ! </h6>

                        <p class="blog-card-caption">
                            <a href="#">By: Vernnit</a>

                        </p>
                        <p>
                            <b>Coming Soon ...</b>
                        </p>

                        <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div><!-- end of blog wrapper -->

            <!-- blog-wrapper -->
            <div class="blog-card">
                <div class="blog-card-header">
                    <img src="static/assets/imgs/img-2.jpg" class="blog-card-img"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="blog-card-body">
                    <h5 class="blog-card-title">Yet to Post this blog !</h6>

                        <p class="blog-card-caption">
                            <a href="#">By: Vernnit</a>

                        </p>

                        <p>
                            <b>Coming Soon ...</b>
                        </p>

                        <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div><!-- end of blog wrapper -->

        </div><!-- end of container -->
    </section><!-- end of blog section -->

    <!-- contact section -->
    <section class="section" id="contact">
        <div class="container text-center">
            <p class="section-subtitle">How can you communicate?</p>
            <h6 class="section-title mb-5">Contact Me</h6>
            <!-- contact form -->
            <form action="submit_message" method="post" class="contact-form col-md-10 col-lg-8 m-auto">
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <input name="Name" type="text" size="50" class="form-control" placeholder="Your Name" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <input name="Email" type="email" class="form-control" placeholder="Enter Email" requried>
                    </div>
                    <div class="form-group col-sm-12">
                        <textarea name="Message" id="Message" rows="6" class="form-control"
                            placeholder="Write Something"></textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
                        <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">
                    </div>
                </div>
            </form><!-- end of contact form -->
        </div><!-- end of container -->
    </section><!-- end of contact section -->

    <!-- footer -->
    <div class="container">
        <footer class="footer">
            <div class="social-links text-leftstatic/ m-auto ml-sm-auto">
                <p><b>Email:</b> vernnit@gmail.com</p>
            </div>
            <div class="social-links text-left m-auto ml-sm-auto">
                <p><b>Phone No.:</b> +917876943319</p>
            </div>
        </footer>
    </div> <!-- end of page footer -->

    <!-- core  -->
    <script src="static/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="static/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="static/assets/js/meyawo.js"></script>

</body>

</html>